@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary: #78716c;
  --secondary: #1c1917;
  --greydark: #8c8b8a; /*button color */
  --greywhite: #f6f6f5; /*button text color */
}

.btn-font {
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}

.custom-font-1 {
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}

.hover-bg-grey:hover {
  background-color: rgba(28, 25, 23, 0.9);
}

.custom-scroll-1::-webkit-scrollbar {
  width: 7px;
  padding: 5px 0;
}
.custom-scroll-1::-webkit-scrollbar-horizontal {
  height: 165px; /* Sets the height of the scrollbar */
}

.custom-scroll-1::-webkit-scrollbar-button {
  height: 165px;
}

.custom-scroll-1::-webkit-scrollbar-track {
  border: #7e7e7e;
  background-color: transparent;
}

.custom-scroll-1::-webkit-scrollbar-thumb {
  transition: background-color 2.3s ease;
}

.custom-scroll-1:hover::-webkit-scrollbar-thumb {
  background-color: rgb(236, 234, 233);
  border-radius: 5px;
  height: 165px;
}

.custom-range-1::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px; /* Thumb size */
  height: 16px;
  background: #f7f5f5; /* Thumb color */
  cursor: pointer;
  border: 1px solid #000;
  border-radius: 50%;
}

/* For Chrome, Safari, Edge, and Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
